<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="container">
        <h1>Bienvenido</h1>
        <li>
            <button onclick="window.location.href='/parking/aparcar';">
                Estacionar un vehículo
            </button>
            <button onclick="window.location.href='/parking/retirar';">
                Retirar un vehículo
            </button>
            <button onclick="window.location.href='/parking/aparcar-abono';">
                Estacionar vehículo abonado
            </button>
            <button onclick="window.location.href='/parking/retirar-abono';">
                Retirar vehículo abonado
            </button>
        </li>
    </div>
</body>
</html>