<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="container">
        <p>{{abonado.nombre}} {{abonado.apellidos}} con DNI {{abonado.dni}}</p>
        <p>Su suscripcion caduca el {{abonado.fechaCancelacion}}</p>
        <p>¿Está seguro de querer dar de baja al cliente?</p>
        <button onclick="window.location.href='/administrator/abonados';">
            Cancelar
        </button>
        <button onclick="window.location.href='/administrator/baja/{{abonado.matricula}}';">
            Dar de baja
        </button>
    </div>
</body>
</html>