<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="container">
        <form action="/administrator/facturacion" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Submit">
        </form>
        {% for registro in listaFacturacion %}
        <p>{{registro.plaza.id}} - {{registro.entrada}} hasta {{registro.salida}} - {{registro.costeTotal}} €</p>
        {% endfor %}
        {% if ningunResultado %}
        <p>No se encuentra ningún registro entre las fechas seleccionadas.</p>
        {% endif %}
    </div>
</body>
</html>