<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static '/styles.css' %}">
</head>
<body>
    <div class="containerPlazas container">
        {% for plaza in plazas %}
        <div class="estadoPlaza">
            <h3>{{plaza.id}}</h3>
            <p>{{plaza.estado}}</p>
        </div>
        {% endfor %}
    </div>
</body>
</html>